/* 
Resume Style Sheet for Andrew Moore Site
Created By: Andrew Moore
Purpose: Includes code for the sidebar and global page elements.
This should be included on every page. 
 */
 
 /* Vertical Line General Style */
 .verticalline {
	float: left;
	border-left: 1px solid #000000;
	padding: 0px 0px 0px 10px;
 }
 
 /* Header */
 .header {
	display: block;
	margin: 0px 0px 0px 0px;
 }
 
.header p {
	margin: 0px 0px 0px 20px;
	font-size: 25px;
 }
 
 .header .myName {
	font-size: 50px;
 }
 
  .verticalline .linkedin_link:hover {
	color: #0077b5;
 }
 
 /* Resume Formatting */

.no_picture_info {
	display: block;
	margin: 20px 0px 20px 55px;
	font-family: "Quicktype";
	height: 80%;
	overflow: auto;
	clear: both;
}

.no_picture_info h1 {
	float: left;
	font-size: 20px;
	margin: 0px 0px 0px 0px;
	color: black;
}

.no_picture_info p {
	font-size: 20px;
	float: left;
	margin: 0px 0px 0px 0px;
	color: black;
}

.no_picture_info .resume_listing_item {
	margin: 0px 0px 10px 0px;
}

.no_picture_info .resume_listing_item .resume_listing_name{
	font-size: 30px;
}

.no_picture_info .resume_listing_item .resume_listing_length {
	font-style: italic;
}

.no_picture_info .resume_listing_item .resume_listing_specifics ul{
	margin: 5px 0px 0px 0px;
	padding: 0px 18px;
	list-style-type: circle;
}

.no_picture_info .resume_listing_item .resume_listing_specifics ul li{
	
}

.no_picture_info  a {
	text-decoration: none;
	font-size: 20px;
	font-weight: strong;
	color: black;
}

.no_picture_info a:hover {
	text-decoration: none;
	font-size: 20px;
	font-weight: strong;
	color: #ff003b;
}

.no_picture_info a.twitter_link {
	text-decoration: none;
	font-size: 20px;
	font-weight: strong;
	color: black;
}

.no_picture_info a.twitter_link:hover {
	text-decoration: none;
	font-size: 20px;
	font-weight: strong;
	color: #00aced;
}

/* Generla Content Formatting*/
.no_picture_info .left {
	float: left;
    width: 120px;
    text-align: left;
}

.no_picture_info .right {
	float: left;
    margin-left: 10px;
    min-width: 450px;
    padding-left: 10px;
    border-left: 1px solid 
}

.header .left {
	float: left;
	margin: 0px 0px 0px 20px;
	padding-right: 15px;
	border-right: 1px solid;
}

.header .right {
	float: left;
	margin: 0px 0px 0px 0px;
	min-width: 450px;
}

/* Download */

.no_picture_info .download {
	margin: 20px 0px 20px 0px;
}


















